.services-container{
  
}
.service-title{
    margin:20px auto;
    font-size: 5rem;
    text-align: center;

}
.serviceCard-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
